.change-text-container {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.change-text input {
  background: hsla(20, 100%, 73%, 0.8);
  border: none;
  border-radius: 7px;

  color: #f9f9f9;
  font-weight: bold;
  font-size: 1rem;

  margin-left: 1rem;
}

.change-text input:focus,
.change-text input:hover {
  box-shadow: 0 0 0 0.20rem rgba(137, 110, 105, 0.5);
  outline: none;
  border: none
}