@import url('../../../../../styleGuide.css');

.popup-wrapper-overlay {
  background: var(--popupOverlayBackground);

  color: var(--popupFontColor);
  font-weight: bold;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;

  overflow: hidden;

  z-index: var(--zIndexLevel1);
}

.popup-wrapper-bg {
  width: 100%;
  height: 100%;

  z-index: var(--zIndexLevel1);
}

.popup-wrapper {
  background: var(--popupWrapperBackground);
  border-radius: var(--borderRadius);

  max-width: 90%;
  max-height: 90%;

  overflow: auto;
  opacity: var(--popupOpacity);

  position: absolute;

  z-index: var(--zIndexLevel0);
}

.popup-content {
  box-sizing: content-box;
}

.popup-wrapper-header {
  background: var(--popupHeaderBackground);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.2rem 0.8rem;

  box-sizing: border-box;
}

.popup-wrapper-header > h3 {
  font-size: 1.4rem;

  display: flex;
  align-items: center;

  margin: 0;
}

.popup-wrapper-close {
  background: transparent;
  border: none;

  color: var(--popupFontColor);
  font-size: 1.4rem;

  margin-left: 2.6rem;
  padding: 0;

  cursor: pointer;
}

.popup-wrapper-content {
  padding: 0.8rem;
}

.hidden {
  display: none !important;
}

.popup-content-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 10px
}

label {
  display: flex;
  justify-content: space-between;
}

.label-range {
  flex-direction: column;
}

input,
select{
  background: var(--popupInputBackground);
  border: none;
  border-radius: var(--borderRadius);

  width: 10rem;
  height: fit-content;
  box-sizing: border-box;

  display: block;

  color: #f9f9f9;
  font-weight: bold;
  font-size: 1rem;

  margin-left: 1rem;
  padding: 0.2rem 0.5rem;
}

input[type='range'] {
  height: 1rem;
  width: 100%;
  margin: 0.5rem 0 0;

  overflow: hidden;
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
  color: white;
  border-radius: var(--borderRadius);

  height: 98%;
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-thumb {
  background: white;
  border-radius: var(--borderRadius);

  width: 1rem;
  -webkit-appearance: none;
  height: 100%;
  cursor: ew-resize;
}

input[type="range"]::-moz-range-progress {
  background-color: white;
}

input[type="range"]::-moz-range-track {
  background-color: white;
}

input[type="range"]::-ms-fill-lower {
  background-color: white;
}

input[type="range"]::-ms-fill-upper {
  background-color: white;
}

select:focus,
select:hover,
input:focus,
input:hover {
  box-shadow: var(--popupInputBoxShadow);
  outline: none !important;
  border: none !important;
}