@import url('../../../../styleGuide.css');

.icon-button {
  background: transparent;
  border: none;
  border-radius: var(--borderRadius);
  font-size: var(--buttonFontSize);

  color: var(--buttonFontColor);

  width: var(--buttonWidth);
  height: var(--buttonHeigth);

  z-index: var(--zIndexLevel2);

  cursor: pointer;
}

.icon-button.hidden {
  display: none;
}

.icon-button.disable {
  opacity: 0.5;
}

.icon-button.bg-transparent {
  background: transparent;
}

.icon-button:focus,
.icon-button:hover {
  /*box-shadow: 0 0 0 0.20rem rgba(137, 110, 105, 0.5);*/
  filter: var(--filter)
}

.icon-button:active {
  transform: scale(0.95);
}