.icon-button {
  background: hsl(9, 13%, 47%);
  border: none;
  border-radius: 7px;
  font-size: 1.4rem;

  color: hsl(0, 0%, 100%);

  width: 2.8rem;
  height: 2.8rem;

  z-index: 1000;

  cursor: pointer;
}

.icon-button.hidden {
  display: none;
}

.icon-button.disable {
  opacity: 0.5;
}

.icon-button.bg-transparent {
  background: transparent;
}

.icon-button:focus,
.icon-button:hover {
  box-shadow: 0 0 0 0.20rem rgba(137, 110, 105, 0.5);
}

.icon-button:active {
  transform: scale(0.95);
}