.icon-button {
  background: #896e69 !important;

  min-width: 2.8rem;
  min-height: 2.8rem;

  z-index: 1000;
}

.icon-button.hidden {
  display: none !important;
}

.icon-button.disable {
  opacity: 0.5 !important;
}

.icon-button.bg-transparent {
  background: transparent !important;
}

.btn-check:focus+.btn, .btn:focus {
  box-shadow: 0 0 0 0.25rem rgba(137, 110, 105, 0.5) !important;
}