.logic-gate-container {
  position: absolute;
}

.logic-gate {
  background: #ffa577;
  border-radius: 7px;

  width: 60px;
  height: 40px;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;

  position: relative;

  z-index: 10;
}

.logic-gate.active{
  border: hsla(9, 13%, 47%, 0.7) 2px solid;
}

.logic-gate .circle {
  background: hsla(5, 63%, 56%, 0.7);
  backdrop-filter: blur(20px);
  border-radius: 100%;

  width: 20px;
  height: 20px;
  margin-top: -10px;

  cursor: pointer;

  position: absolute;
}

.logic-gate .circle-left {
  left: -8px;
}
.logic-gate .circle-left-top {
  top: 10px;
}

.logic-gate .circle-left-bottom {
  bottom: 0;
}

.logic-gate .circle-right {
  top: 50%;
  right: -8px;
}

.logic-gate .logic-gate-content {
  color: hsl(0, 0%, 98%);
  font-weight: bold;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: all-scroll;
}