@font-face {
  font-family: 'JetBrains Mono Regular';
  src: url(JetBrainsMono-Regular.ttf);
}

* {
  font-family: 'JetBrains Mono Regular', serif;
}

body {
  margin: 0;
}

.connect-line {
  background: red;

  height: 3px;

  z-index: 100;

  position: absolute;
}