@font-face {
  font-family: 'JetBrains Mono Regular';
  src: url(JetBrainsMono-Regular.ttf);
}

* {
  font-family: 'JetBrains Mono Regular', serif;
}

*::selection {
  background: hsl(9, 13%, 47%);
  color: hsl(0, 0%, 100%);
}

body {
  margin: 0;
}