.layout {
  background: #f9f9f9;
  position: relative;
}

.opacity-8 {
  opacity: 0.8 !important;
}

.info-element {
  margin: 0;

  position: fixed;
  bottom: 1rem;
  left: 1rem;

  z-index: 100000;
}

.info-element > p {
  margin: 0;
}