@import url("../../../../styleGuide.css");

#screen-info {
  background: var(--infoBackground);
  backdrop-filter: blur(var(--blur));
  border-radius: var(--borderRadius);

  padding: 1rem;
  margin: calc(var(--safeIndent) + var(--scrollBarSize));
  margin-bottom: calc(var(--safeIndent) + var(--scrollBarSize) + 10px);

  position: fixed;
  bottom: 0;
  left: 0;

  z-index: var(--zIndexLevel2);
}

#screen-info > p {
  margin: 0;
}

.hidden {
  display: none;
  opacity: 0;
}