@import url("../../../../styleGuide.css");

#screen-panel {
  background: var(--panelBackground);
  backdrop-filter: blur(var(--blur));
  border-radius: var(--borderRadius);

  max-height: 60%;
  width: fit-content;
  height: fit-content;
  margin: var(--safeIndent);
  padding: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: fixed;

  z-index: var(--zIndexLevel2);

  overflow-y: auto;
}