@import url("../../../../styleGuide.css");

#screen-grid-wrapper {
  margin: var(--safeIndent);

  width: 1000px;
  height: 900px;

  overflow: auto;
}

#screen-grid {
  position: relative;

  overflow: hidden;
}

#grid-background {
  width: 100%;
  height: 100%;

  z-index: var(--zIndexLevel5);

  position: absolute;
}

.screen-grid-element {
  position: absolute;
}