@import url("../../../../styleGuide.css");

#screen-grid-wrapper {
  background: var(--gridWrapperBackground);
  border-radius: var(--borderRadius);

  margin: var(--safeIndent);

  width: 1000px;
  height: 900px;

  overflow: auto;
}

#screen-grid-wrapper::-webkit-scrollbar {
  background-color: var(--scrollBarBackground);

  width: var(--scrollBarSize);
  height: var(--scrollBarSize);
}

#screen-grid-wrapper::-webkit-scrollbar-thumb {
  border-radius: var(--borderRadius);
  background-color: var(--thumbBackground);
}

#screen-grid-wrapper::-webkit-scrollbar-track {
  border-radius: var(--borderRadius);
  background-color: var(--trackBackground);
}

#screen-grid {
  border-radius: var(--borderRadius);

  position: relative;
}

#grid-background {
  border-radius: var(--borderRadius);
  background: var(--gridBackground);

  width: 100%;
  height: 100%;

  z-index: var(--zIndexLevel4);

  position: absolute;
}

.screen-grid-element {
  position: absolute;
}