:root {
  /*~~~Colors~~~*/
  --softOrange:               hsl(17, 59%, 66%);
  --verySoftOrange:           hsl(20, 79%, 83%);
  --mostlyWhite:              hsl(0, 0%, 98%);
  --mostlyWhiteOpacity5:      hsla(0, 0%, 98%, 0.5);
  --veryLightOrange:          hsl(18, 100%, 73%);
  --mostlyDesaturatedDarkRed: hsl(6, 15%, 58%);
  --moderateRed:              hsla(5, 63%, 56%, 0.8);

  --borderRadius: 12px;
  --safeIndent:   8px;
  --blur:         8px;
  --transition:   0.5s;
  --filter:       drop-shadow(6px 7px 8px var(--verySoftOrange)) sepia(40%) opacity(0.8);

  /*~~~Popup~~~*/
  --popupOverlayBackground: var(--mostlyWhiteOpacity5);
  --popupWrapperBackground: var(--veryLightOrange);
  --popupHeaderBackground:  var(--mostlyDesaturatedDarkRed);
  --popupFontColor:         var(--mostlyWhite);
  --popupInputBackground:   var(--softOrange);
  --popupInputBoxShadow:    0 0 0 0.20rem var(--mostlyDesaturatedDarkRed);

  /*~~~Scroll~~~*/
  --scrollBarSize:       8px;
  --scrollBarBackground: var(--verySoftOrange);
  --thumbBackground:     var(--mostlyDesaturatedDarkRed);
  --trackBackground:     var(--mostlyWhite);

  /*~~~AppScreen~~~*/
  --screenBackground: var(--verySoftOrange);

  /*~~~ButtonIcon~~~*/
  --buttonBackground: var(--mostlyDesaturatedDarkRed);
  --buttonFontSize:   1.3rem;
  --buttonFontColor:  var(--mostlyWhite);
  --buttonWidth:      2.3rem;
  --buttonHeigth:     2.3rem;

  /*~~~ScreenGrid~~~*/
  --gridBackground:        var(--mostlyWhite);
  --gridWrapperBackground: var(--verySoftOrange);

  /*~~~ScreenPanel~~~*/
  --panelBackground: var(--mostlyWhiteOpacity5);

  /*~~~PanelList~~~*/
  --listOpacity: 0.9;
  --listAdditinalOpacity: 0.8;

  /*~~~ScreenInfo~~~*/
  --infoBackground: var(--mostlyWhiteOpacity5);

  /*~~~GridGate~~~*/
  --gateInputBackground: var(--verySoftOrange);
  --gateActiveFilter:    var(--filter);
  --gatePinBackground: var(--mostlyDesaturatedDarkRed);

  /*~~~GridLine~~~*/
  --lineActiveFilter:    var(--filter);
  --linePinBackground:   var(--mostlyDesaturatedDarkRed);
  --lineOnBackground:    var(--moderateRed);

  /*~~~GridText~~~*/
  --textBackground:      var(--mostlyWhiteOpacity5);
  --textActiveFilter:    var(--filter);
  --textPinBorder:       var(--mostlyDesaturatedDarkRed) 3px solid;
  --textPinColor:        var(--mostlyWhite);

  --zIndexLevel0: 100000;
  --zIndexLevel1: 10000;
  --zIndexLevel2: 1000;
  --zIndexLevel3: 100;
  --zIndexLevel4: 10;
  --zIndexLevel5: 0;
}