:root {
  /*~~~Colors~~~*/
  --verySoftOrange:           hsl(20, 79%, 83%);
  --mostlyWhite:              hsl(0, 0%, 98%);
  --mostlyWhiteOpacity5:      hsla(0, 0%, 98%, 0.5);
  --mostlyDesaturatedDarkRed: hsl(6, 15%, 58%);
  --veryLightOrange:          hsl(18, 100%, 73%);

  --borderRadius: 7px;
  --safeIndent:   10px;
  --blur:         7px;

  /*~~~Scroll~~~*/
  --scrollBarSize:       10px;
  --scrollBarBackground: var(--verySoftOrange);
  --thumbBackground:     var(--mostlyDesaturatedDarkRed);
  --trackBackground:     var(--verySoftOrange);

  /*~~~AppScreen~~~*/
  --screenBackground: var(--verySoftOrange);

  /*~~~ScreenGrid~~~*/
  --gridBackground:        var(--mostlyWhite);
  --gridWrapperBackground: var(--verySoftOrange);

  /*~~~ScreenPanel~~~*/
  --panelBackground: var(--mostlyWhiteOpacity5);

  /*~~~ScreenInfo~~~*/
  --infoBackground: var(--mostlyWhiteOpacity5);

  --zIndexLevel1: 10000;
  --zIndexLevel2: 1000;
  --zIndexLevel3: 100;
  --zIndexLevel4: 0;
}