:root {
  /*~~~Colors~~~*/
  --verySoftOrange:           hsl(20, 79%, 83%);
  --mostlyWhite:              hsl(0, 0%, 98%);
  --mostlyWhiteOpacity5:      hsla(0, 0%, 98%, 0.5);
  --veryLightOrange:          hsl(18, 100%, 73%);
  --mostlyDesaturatedDarkRed: hsl(6, 15%, 58%);
  --moderateRed:              hsla(5, 63%, 56%, 0.8);

  --borderRadius: 10px;
  --safeIndent:   10px;
  --blur:         7px;
  --transition:   0.5s;
  --filter:       drop-shadow(6px 7px 8px var(--verySoftOrange)) sepia(40%) opacity(0.8);

  /*~~~Scroll~~~*/
  --scrollBarSize:       10px;
  --scrollBarBackground: var(--verySoftOrange);
  --thumbBackground:     var(--mostlyDesaturatedDarkRed);
  --trackBackground:     var(--mostlyWhite);

  /*~~~AppScreen~~~*/
  --screenBackground: var(--verySoftOrange);

  /*~~~ScreenGrid~~~*/
  --gridBackground:        var(--mostlyWhite);
  --gridWrapperBackground: var(--verySoftOrange);

  /*~~~ScreenPanel~~~*/
  --panelBackground: var(--mostlyWhiteOpacity5);

  /*~~~ScreenInfo~~~*/
  --infoBackground: var(--mostlyWhiteOpacity5);

  /*~~~GridGate~~~*/
  --gateInputBackground: var(--verySoftOrange);
  --gateActiveFilter:    var(--filter);
  --gatePinBackground: var(--mostlyDesaturatedDarkRed);

  /*~~~GridLine~~~*/
  --lineActiveFilter:    var(--filter);
  --linePinBackground:   var(--mostlyDesaturatedDarkRed);
  --lineOnBackground:    var(--moderateRed);

  /*~~~GridText~~~*/
  --textBackground:      var(--mostlyWhiteOpacity5);
  --textActiveFilter:    var(--filter);
  --textPinBorder:       var(--mostlyDesaturatedDarkRed) 3px solid;
  --textPinColor:        var(--mostlyWhite);

  --zIndexLevel1: 10000;
  --zIndexLevel2: 1000;
  --zIndexLevel3: 100;
  --zIndexLevel4: 10;
  --zIndexLevel5: 0;
}