.layout-text {
  background: hsla(0, 0%, 98%, 0.5);
  backdrop-filter: blur(7px);
  border-radius: 7px;

  max-width: 45vw;
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  margin: 0;

  cursor: all-scroll;
}

.layout-text > p {
  margin: 0;
}

.layout-text.active{
  box-shadow: 0 0 0 0.20rem hsla(0, 0%, 0%, 0.6);
}

.layout-text.pin{
  background: hsl(20, 100%, 73%);
  filter: grayscale(50%);
  color: hsl(0, 0%, 98%);
  font-weight: bold;

  cursor: no-drop;
}

.layout-text.pin.active{
  box-shadow: 0 0 0 0.20rem hsla(5, 63%, 56%, 0.8);
}